@font-face {
    font-family: 'Ubuntu mono';
    src: url(UbuntuMono-Regular.ttf) format(ttf);
}
@font-face {
    font-family: 'Quicksand';
    src: url(Quicksand-Regular.ttf) format(ttf);
}
@font-face {
    font-family: 'Caveat';
    src: url(Caveat-Regular.ttf) format(ttf);
}

body {
    background-color: #000000;
    font-family: "Ubuntu mono", monospace;
    padding: 0 0.5em;
    transition: 1s;
    overflow: hidden;
}
.navy {
    background-color: #252932;
    transition: 1s;
}

#text-container1, #text-container3, #text-container4,  #text-container5, #text-container6{
    opacity: 0;
    transition: 1s;
}
#text-container1.visible, #text-container3.visible, #text-container4.visible, #text-container5.visible, #text-container6.visible {
    opacity: 100 !important;
    transition: 2s;
}

.text-white, p {
    color: rgb(247, 233, 233);
}
span {
    font-size: 16px;
}
span.para {
    line-height: 25px;
}
span.para.text-white.change {
    font-family: "Caveat";
    font-size: 20px;
    color: #412c00;
    transition: 3s;
}
.border {
    border: solid 1px white;
}
.container {
    margin: auto;
    max-width: 20em;
    margin-top: 4em;
    /* border: solid 1px white; */
}
.box1 {
    margin: auto;
    margin-bottom: 1.5em;
    max-width: 18em;
    background-color: #1d2128;
    padding: 15px;
    border-radius: 10px;
    min-height: 7em;
    max-height: 20em;
    overflow: hidden;
    border: solid 2px #2a2e38;
    animation: expand 2s ease;
    animation-delay: 1s;
    animation-fill-mode: backwards;
}
.box1.change {
    background-color: #ffe9bc55;
    border: solid 2px rgb(255, 250, 224);
    transition: 3s;
}

.typed-cursor {
    color: orangered;
}

#element {
    transition: 1s;
    opacity: 0;
}
#element.visible {
    opacity: 100;
    transition: 1s;
}

#btngroup1, #btngroup2, #btngroup3, #btngroup4 {
    display: none;
    margin: 0 auto;
    width: fit-content;
    opacity: 0;
    transition: 1s;
}
#btngroup1.visible, #btngroup2.visible, #btngroup3.visible, #btngroup4.visible {
    opacity: 100;
    transition: 1s;
}

.btn {
    font-size: 15px;
    font-family: 'Quicksand';
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 5px;
}
.btn.btn-primary {
    color: white;
    background-color: rgb(68, 83, 116);
}
.btn.btn-primary:hover {
    background-color: #2e3b55;
}

.btn.btn-secondary {
    color: white;
    background-color: rgba(95, 95, 95, 0.658);
}
.btn.btn-secondary:hover {
    background-color: rgba(63, 63, 63, 0.658);
}

.fwcontainer {
    /* border: solid 1px white; */
    display: inline;
    position: absolute;
    left: 0;
    top: 0;
    width: 99%;
    height: 99%;
    opacity: 0;
    transition: 1s;
    z-index: -2;
}
#firework.visible {
    opacity: 100;
    transition: 1s;
}

#music {
    visibility: hidden;
}

#music-btn {
    font-size: 18px;
    padding: 10px;
}

div.box2 {
    border: solid 2px white;
    height: 20em;
    overflow: hidden;
}

#text-container6.animation {
    animation: scrolling 165s linear forwards;
}

#bg-2 {
    position: fixed;
    z-index: -3;
    right: 50%;
    transform: translate(50%, 0em);
    opacity: 100;
    transition: 6s ease-out;
}
#bg-2.before {
    transform: translate(50%, 75em);
    opacity: 0;
    transition: 5s;
}
#sky {
    position: fixed;
    width: 95em;
    right: 50%;
    transform: translate(50%, -25em);
    /* visibility: hidden; */
}
#sea {
    position: fixed;
    height: 33em;
    right: 50%;
    transform: translate(50%, 24em);
    transition: 7s ease-out;
    /* visibility: hidden; */
}
#sea.before {
    transform: translate(50%, 26.6em);
}
#cloud {
    position: fixed;
    right: 50%;
    height: 23em;
    transform: translate(49%, 2.5em);
    transition: 7s ease-out;
    animation: cloudwave 20s linear infinite;
}
#cloud.before {
    transform: translate(49%, 7em);
}
#sun {
    position: fixed;
    right: 50%;
    transform: translate(50%, 13em);
    transition: 8s ease-out;
    animation: sunwave 8s infinite;
}
#sun.before {
    transform: translate(50%, 20em);    
}
#clouds {
    position: fixed;
    right: 50%;
    height: 20em;
    transform: translate(50%, 4em);
    animation: waving 5s ease infinite;
}

@keyframes cloudwave {
    0% {
        transform: translate(49%, 2.5em);
    }
    50% {
        transform: translate(51%, 2.5em);
    }
    100% {
        transform: translate(49%, 2.5em);
    }
}

@keyframes sunwave {
    0% {
        transform: translate(50%, 13em);
    }
    50% {
        transform: translate(50%, 13.5em);
    }
    100% {
        transform: translate(50%, 13em);
    }
}

@keyframes waving {
    0% {
        transform: translate(49%, 4em);
    }
    50% {
        transform: translate(50%, 4em);
    }
    100% {
        transform: translate(49%, 4em);
    }
}

@keyframes scrolling {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-53em);
    }
}

@keyframes expand {
    0% {
        width: 0px;
        transform: scaleX(0);
        transform: scaleY(0);
    }
    50% {
        width: 0px;
        transform: scaleX(1);
        transform: scaleY(1);
    }
    100% {
        width: 18em;
        transform: scaleX(1);
        transform: scaleY(1);
    }
}
